:root {
  --black: black;
  --white: white;
  --magenta: #ff00c7;
  --orange: #ffb800;
  --grey: #858585;
  --dark-grey: #a6a6a6;
  --light-coral: #ffa29c;
  
  --clr-LinearGradient: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
