header {
  @apply flex justify-between items-center p-4;

  .logo {
    @apply w-16 h-auto flex items-center gap-3;

    div {
      @apply text-xl text-secondary font-bold;
      span {
        @apply text-lg;
      }
    }
  }

  nav {
    svg {
      @apply w-8 fill-current;

      &:hover {
        @apply text-secondary; // color of the svg moon
      }
    }
    @apply flex gap-4;



    .mobile-nav-icon {
      @apply md:hidden cursor-pointer;

      &:hover {
        @apply text-secondary;

      }
    }

    ul {
      @apply justify-between items-center gap-3 hidden md:flex;

      li {
        @apply relative;

        a {
          @apply text-lg font-semibold  uppercase;

          &::after {
            @apply absolute left-0 bottom-0 w-full h-0.5 bg-secondary ; 
            content: "";
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
          }

          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

// header {
//   background-color: red;
//   margin-top: 20px;
//   display: flex;
//   justify-content: space-between;
//   min-height: 75px;
//   align-items: center;
//   padding: 0 3rem;

//   .logo {
//     img {
//       width: 70px;
//       border-radius: 50px;
//     }
//   }
// header {
//   background-color: red;
//   margin-top: 20px;
//   display: flex;
//   justify-content: space-between;
//   min-height: 75px;
//   align-items: center;
//   padding: 0 3rem;

//   .logo {
//     img {
//       width: 70px;
//       border-radius: 50px;
//     }
//   }

//   nav {
//     ul {
//       display: flex;
//       gap: 2rem;

//       li {
//         a {
//           font-size: 1.2rem;
//           font-weight: 600;
//           text-transform: uppercase;
//           letter-spacing: 1px;
//           padding: 1rem 0;
//           position: relative;

//           &::after {
//             @apply bg-secondary; //color of the line
//             content: "";
//             position: absolute;
//             bottom: 0;
//             left: 0;
//             width: 100%;
//             height: 2px;
//             transform: scaleX(0);
//             transform-origin: left;
//             transition: transform 0.3s ease-in-out;
//           }

//           &:hover::after {
//             transform: scaleX(1);
//           }
//         }
//       }
//     }
//   }
// }

// .account-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 1rem;

//   a {
//     text-transform: uppercase;
//     position: relative;
//     &::after {
//       content: "";
//       position: absolute;
//       @apply bg-secondary; //color of the line in user btn
//       bottom: 0;
//       left: 0;
//       width: 100%;
//       height: 2px;
//       transform: scaleX(0);
//       transform-origin: left;
//       transition: transform 0.3s ease-in-out;
//     }

//     &:hover::after {
//       transform: scaleX(1);
//     }
//   }
// }
// svg {
//   cursor: pointer;
//   transition: all 0.3s ease-in-out;

//   &:hover {
//     transform: scale(1.1);
//     @apply text-secondary; //color of the svg moon
//   }
// }

// //Desktop version of the header

// @media screen and (min-width: 768px) {
// }

//   nav {
//     ul {
//       display: flex;
//       gap: 2rem;

//       li {
//         a {
//           font-size: 1.2rem;
//           font-weight: 600;
//           text-transform: uppercase;
//           letter-spacing: 1px;
//           padding: 1rem 0;
//           position: relative;

//           &::after {
//             @apply bg-secondary; //color of the line
//             content: "";
//             position: absolute;
//             bottom: 0;
//             left: 0;
//             width: 100%;
//             height: 2px;
//             transform: scaleX(0);
//             transform-origin: left;
//             transition: transform 0.3s ease-in-out;
//           }

//           &:hover::after {
//             transform: scaleX(1);
//           }
//         }
//       }
//     }
//   }
// }

// .account-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 1rem;

//   a {
//     text-transform: uppercase;
//     position: relative;
//     &::after {
//       content: "";
//       position: absolute;
//       @apply bg-secondary; //color of the line in user btn
//       bottom: 0;
//       left: 0;
//       width: 100%;
//       height: 2px;
//       transform: scaleX(0);
//       transform-origin: left;
//       transition: transform 0.3s ease-in-out;
//     }

//     &:hover::after {
//       transform: scaleX(1);
//     }
//   }
// }
// svg {
//   cursor: pointer;
//   transition: all 0.3s ease-in-out;

//   &:hover {
//     transform: scale(1.1);
//     @apply text-secondary; //color of the svg moon
//   }
// }

// //Desktop version of the header

// @media screen and (min-width: 768px) {
// }
