header {
  @apply flex justify-between items-center p-4;

  svg {
    @apply w-8 fill-current;

    &:hover {
      @apply text-secondary; // color of the svg moon
    }
  }

  .logo {
    a {
      @apply flex items-center gap-2;
    }

    div {
      @apply text-xl text-secondary font-bold;
      span {
        @apply text-lg;
      }
    }
  }

  nav {
    @apply flex gap-4;

    .mobile-nav-icon {
      @apply md:hidden cursor-pointer;

      &:hover {
        @apply text-secondary;
      }
    }

    ul {
      @apply justify-center items-center gap-10 md:flex fixed top-0 w-screen md:w-auto h-screen md:h-auto bg-black md:bg-transparent z-10 transition-all md:static flex align-middle flex-col md:flex-row;

      li {
        @apply relative;

        a {
          @apply text-4xl md:text-xl font-semibold uppercase;

          &::after {
            @apply absolute left-0 -bottom-2 w-full h-0.5 bg-secondary;
            content: "";
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
          }

          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .account-container {
    @apply flex gap-4;

    .search-container {
      .join {
        @apply absolute -translate-x-px mt-2;
        --tw-translate-x: -280px;
      }
    }
  }
}
