.stage {
  @apply relative px-8 md:p-8 grid md:grid-cols-2 gap-4 md:gap-0;
  background: url("./../images/stage-bg.png") no-repeat center center;
  background-size: contain;
  overflow: hidden;

  .stage-content {
    @apply flex flex-col justify-center order-2 md:order-1;

    h1 {
      @apply text-5xl uppercase text-secondary font-extrabold tracking-widest;
    }

    p {
      @apply my-2 leading-normal text-secondary text-2xl;
    }
  }

  img {
    @apply relative left-12 order-1 md:order-2;
  }


}
